div {
    display: block;
}

b{
    color: black;
}
body,h1,h5 {font-family: "Times New Roman", Times, serif}
body, html {
    height: 100%;
    width: auto;
    margin: 0;
    object-fit: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}
.bgimg {
    background-image: url('../assets/background.jpg');
    min-height: 100%;
    background-position: center;
    background-size: cover;
}
.textWhite{
    color: #fff!important;
}

.displayContainer {
    position: relative;
}

.jumbo{
    font-size: 64px!important;
}

.displayMiddle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.title{
    text-align: center;
    font-size: 35px;
    color: rgb(255, 255, 255);
    background-color: rgb(84, 84, 84);
}
.description{
    font-size: 25px;
    color: #ffffff;
    background-color: rgb(9 14 19 / 81%);
}
.xlarge{
    font-size: 24px!important;
}

.container{
    padding: 0.01em 16px;
}
.displayTopleft{
    position: absolute;
    left: 0;
    top: 0;
}
.menuBut{
    width: 200px;
    height: 50px;
    background-color: #cccccc;
    color: black;
    border: none;
}
.menuBut:hover {
    background-color: #eedaff;
    color: black;
}
.menuPage{
    z-index: 3;
    display: none;
    padding-top: 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}
@media (max-width: 768px){
    .menuPage {
        padding-top: 50px;
    }
}

.content{
    margin: auto;
    background-color: #fff;
    position: relative;
    padding: 0;
    outline: 0;
    width: 900px;
}

@media (max-width: 768px){
    .content {
        width: 500px;
    }
}
.animateZoom{
    animation: animatezoom 0.6s;
}


.black{
    color: #fff!important;
    background-color: #000!important;
}

.large{
    font-size: 18px!important;
}

.displayTopright{
    position: absolute;
    right: 0;
    top: 0;
}

.closeButton{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
    border: none;
    display: inline-block;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}

#gallery {
    margin-top: 10px;
}
.my-form {
    margin-bottom: 10px;
}
#gallery img {
    width: 150px;
    margin-bottom: 10px;
    margin-right: 10px;
    vertical-align: middle;
}
.button {
    display: inline-block;
    padding: 10px;
    background: #ccc;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;

}
#drop-area {
    text-align: center;
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 25%;
    margin: 20px auto;
    padding: 20px;
}
#drop-area.highlight {
    border-color: purple;
}

.button:hover {
    background: #ddd;
}

#fileElem {
    display: none;
}

